server_url: https://<YOUR_CLUSTER_IP_HERE>:8443
token: token             # Replace with a desired token
os:
  hostname: node2        # Set a hostname. This can be omitted if DHCP server offers hostnames.
  ssh_authorized_keys:
  - ssh-rsa ...          # Replace with your public key
  password: p@ssword     # Replace with a your password
  ntp_servers:
  - 0.suse.pool.ntp.org
  - 1.suse.pool.ntp.org
install:
  mode: join
  networks:
    harvester-mgmt:       # (Mandatory) The management bond name.
      interfaces:
      - name: ens5
      default_route: true
      method: dhcp
      bond_options:
        mode: balance-tlb
        miimon: 100
    harvester-vlan:       # (Optional) The VLAN network bond name. If VLAN NIC names vary from
      interfaces:         # host to host, consider creating a bonding device. Users can then select
      - name: ens6        # `harvester-vlan` as the VLAN network NIC in the Harvester GUI.
      method: none
      bond_options:
        mode: balance-tlb
        miimon: 100
  device: /dev/sda       # The target disk to install
  iso_url: https://releases.rancher.com/harvester/master/harvester-master-amd64.iso
#  tty: ttyS1,115200n8   # For machines without a VGA console
