scheme_version: 1
token: token             # Replace with a desired token
os:
  hostname: node1        # Set a hostname. This can be omitted if DHCP server offers hostnames.
  ssh_authorized_keys:
  - ssh-rsa ...          # Replace with your public key
  password: p@ssword     # Replace with a your password
  ntp_servers:
  - 0.suse.pool.ntp.org
  - 1.suse.pool.ntp.org
install:
  mode: create
  management_interface:
    interfaces:
    - name: ens5
    default_route: true
    method: dhcp
    bond_options:
      mode: balance-tlb
      miimon: 100
  device: /dev/sda       # The target disk to install
  iso_url: https://releases.rancher.com/harvester/v1.5.0/harvester-v1.5.0-amd64.iso

  #  tty: ttyS1,115200n8   # For machines without a VGA console

  vip: 10.10.0.19
  vip_mode: dhcp                   # Or static
  vip_hw_addr: 52:54:00:ec:0e:0b   # Leave empty when vip_mode is static
