- hosts: all
  become: yes
  tasks:
    - name: install kitty terminfo
      apt:
        name: kitty-terminfo
  roles:
    - role: dhcp
    - role: tftp
    - role: https
      when: settings['harvester_network_config']['dhcp_server']['https']
    - role: http
    - role: ipxe
    - role: harvester
    - role: proxy
      when: settings['harvester_network_config']['offline']
    - role: s3
      when: settings['s3']['enabled'] | bool
