---
##########################################################################
# NOTE: this is a YAML file so please pay close attention to the leading #
# spaces as they are significant.                                        #
##########################################################################

#
# harvester_iso_url
# harvester_kernel_url
# harvester_ramdisk_url
# harvester_rootfs_url
#
# Harvester media location. URL schema can be either 'http', 'https' or 'file'.
#
harvester_iso_url: https://releases.rancher.com/harvester/master/harvester-master-amd64.iso
harvester_kernel_url: https://releases.rancher.com/harvester/master/harvester-master-vmlinuz-amd64
harvester_ramdisk_url: https://releases.rancher.com/harvester/master/harvester-master-initrd-amd64
harvester_rootfs_url: https://releases.rancher.com/harvester/master/harvester-master-rootfs-amd64.squashfs

#
# harvester_cluster_nodes
#
# Current Harvester cluster size. Keep in mind that you need at least 3 nodes to make a cluster.
#
harvester_cluster_nodes: 3

#
# extra helper flags
#
# Helper flags that can assist in providing input for the overall install
overall_debug: false

#
# network_config
#
# Harvester network configurations.
#
# NOTE: Random MAC addresses are generated with the following command:
# printf '02:00:00:%02X:%02X:%02X\n' $((RANDOM%256)) $((RANDOM%256)) $((RANDOM%256))
# Ref. https://stackoverflow.com/questions/8484877/mac-address-generator-in-python
#
harvester_network_config:
  # Run as an airgapped environment that only has internet connectivity through an HTTP proxy.
  # The HTTP proxy runs on DHCP server using port 3128
  offline: false

  dhcp_server:
    ip: 192.168.0.254
    subnet: 192.168.0.0
    netmask: 255.255.255.0
    range: 192.168.0.50 192.168.0.130
    https: false
    # Change this to a custom DNS server if you need one for your DHCP scope
    dns_server: 1.1.1.1

  dns_servers:
    # This is a list of DNS servers that will be included in your Harvester OS config
    - 192.168.0.254
    - 8.8.8.8

  # Reserved IPs should be in DHCP subnet BUT outside DHCP range.
  vip:
    ip: 192.168.0.131
    mode: DHCP
    mac: 02:00:00:03:3D:61
  cluster:
    # role: default, management, witness or worker
    - ip: 192.168.0.30
      role: default
      cpu: 8
      memory: 16384
      disk_size: 500G
      mgmt_nic: ens6
      mgmt_mac: 02:00:00:0D:62:E2
    - ip: 192.168.0.31
      role: default
      cpu: 8
      memory: 16384
      disk_size: 500G
      mgmt_nic: ens6
      mgmt_mac: 02:00:00:35:86:92
    - ip: 192.168.0.32
      role: default
      cpu: 8
      memory: 16384
      disk_size: 500G
      mgmt_nic: ens6
      mgmt_mac: 02:00:00:2F:F2:2A
    - ip: 192.168.0.33
      role: default
      cpu: 8
      memory: 8192
      disk_size: 500G
      mgmt_nic: ens6
      mgmt_mac: 02:00:00:A7:E6:FF

#
# harvester_config
#
# Harvester system configurations.
#
harvester_config:
  # static token for cluster join authentication
  token: token

  # for user 'rancher' to SSH Harvester nodes
  password: p@ssword
  ssh_authorized_keys:
    - ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6NF8iallvQVp22WDkTkyrtvp9eWW6A8YVr+kz4TjGYe7gHzIw+niNltGEFHzD8+v1I2YJ6oXevct1YeS0o9HZyN1Q9qgCgzUFtdOKLv6IedplqoPkcmF0aYet2PkEDo3MlTBckFXPITAMzF8dJSIFo9D8HfdOV0IAdx4O7PtixWKn5y2hMNG0zQPyUecp4pzC6kivAIhyfHilFR61RGL+GPXQ2MWZWFYbAGjyiYJnAmCP3NOTd0jMZEnDkbUvxhMmBYSdETk1rRgm+R4LOzFUGaHqHDLKLX+FIPKcF96hrucXzcWyLbIbEgE98OHlnVYCzRdK8jlqm8tehUc9c9WhQ== vagrant insecure public key

  ntp_servers:
    - 0.suse.pool.ntp.org
    - 1.suse.pool.ntp.org

  # subsystem to configure sshd, refer to harvester configuration 'os.sshd.sftp'.
  sftp: true

#
# harvester_node_config
#
# Harvester node-specific configurations.
#
harvester_node_config:
  cpu: 8
  memory: 8192
  disk_size: 500G

#
# rancher_config
#
# Rancher setup on K3s cluster.
# Refer support matrix on https://ranchermanager.docs.rancher.com/versions
#
rancher_config:
  enabled: false

  version: v2.11.0
  k3s_channel: v1.32
  repo: https://releases.rancher.com/server-charts/latest

  # Reserved IP for Rancher. Do not conflict with DHCP range and other reserved IPs.
  ip: 192.168.0.141
  hostname: rancher.192.168.0.141.sslip.io
  password: password1234
  cpu: 2
  memory: 4096

# Settings for an S3 backup target.
# When enabled, this will spin up a Minio container on the PXE server, which can
# act as a backup target.
# The S3 service will be available at http://<dhcp-server-ip>:9000
s3:
  enabled: false
  capacity: "300G"
  port: 9000
  console_port: 9001
  username: admin
  password: password1234
