# example from https://github.com/harvester/ipxe-examples/blob/main/general/config-create.yaml

token: {{ settings['harvester_config']['token'] }}
os:
  hostname: harvester-node-0
  ssh_authorized_keys:
{% for ssh_key in settings['harvester_config']['ssh_authorized_keys'] %}
    - {{ ssh_key }}
{% endfor %}
  password: {{ settings['harvester_config']['password'] }}
install:
  mode: create
  mgmt_interface: eth1   # The management interface name
  networks:
    - interface: eth0
      method: dhcp
  device: /dev/sda       # The target disk to install
  iso_url: http://{{ hostvars['pxe_server']['ansible_eth0']['ipv4']['address'] }}/harvester/harvester-amd64.iso
#  tty: ttyS1,115200n8   # For machines without a VGA console
  tty: ttyS0
  vip: {{ settings['harvester_network_config']['vip']['ip'] }}
  vip_mode: dhcp
  vip_hw_addr: {{ settings['harvester_network_config']['vip']['mac'] }}
