#!ipxe

kernel http://{{ boot_server_address }}/harvester/harvester-vmlinuz-amd64
initrd http://{{ boot_server_address }}/harvester/harvester-initrd-amd64
imgargs harvester-vmlinuz-amd64 initrd=harvester-initrd-amd64 ip={{ boot_interface }}:dhcp net.ifnames=1 rd.cos.disable rd.live.debug=1 rd.noverifyssl root=live:http://{{ boot_server_address }}/harvester/harvester-rootfs-amd64.squashfs console=tty1 harvester.install.automatic=true harvester.install.skipchecks=true harvester.install.config_url=http://{{ boot_server_address }}/harvester/config-create.yaml
boot
