---
- name: create ipxe dir
  file:
    path: /tftpboot/ipxe
    state: directory

- name: install ipxe firmwares
  get_url:
    url: '{{ item }}'
    dest: /tftpboot/ipxe/
  loop:
    - "https://boot.ipxe.org/{{ {'aarch64': 'arm64'}.get(ansible_architecture, ansible_architecture) }}-efi/ipxe.efi"
    - "https://boot.ipxe.org/undionly.kpxe"
